@tailwind base;
@tailwind components;
@tailwind utilities;

.root_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.network-container {
  flex: 1 1 auto; /* ensure the network container takes up remaining space */
}

#mynetwork {
  height: 100%;
}
